
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

@import "~bootstrap4-toggle/css/bootstrap4-toggle.min.css";

$enable-responsive-font-sizes: true;

@font-face {
  font-family: $font-family-sans-serif;
  font-display: auto;
  src: local('Roboto'), url('https://fonts.googleapis.com/css?family=Roboto');
}

.toggle-on {
  right: unset;
}

.toggle-off {
  left: unset;
}

input[readonly] {
  background-color: $input-bg !important;
}

textarea {
  resize: none;
}

.cursor:not(.disabled) {
  cursor: pointer;
}

.page-link.active {
  z-index: 1;
  color: #fff !important;
  background-color: $twitch;
  border-color: $twitch;
}

.page-item:first-child {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}



.morris-hover {
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style {     border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255, 255, 255, 0.8);
  border:solid 2px rgba(230, 230, 230, 0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight:bold;
  margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space:nowrap;
  margin:0.1em 0;
}

svg { width: 100%; }

.minecraft_logo {
  width: 20px;
}


.privacy.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
}

.jumbotron {
  background-color: $body-bg;
}

.jumbotron .container {
  max-width: 40rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
